{% extends 'base.html' %}

{% block titleblock %}
<title>upload</title>
<style>
img.small {width: 200px;height: 120px;border-left;float:left;cursor:pointer;}
.true:hover {width:190px;height:115px;border:solid 2px white;float:left;}
</style>
{% endblock %}

{% block bodyblock %}

{% if user.is_superuser %}
<form method="post" action="/album/upload/" enctype="multipart/form-data">
	{% csrf_token %}
<input type="file" id="file" multiple="true" name="photo" style="display:none;">
<div class="row">

	<input class="button" value="Select" id="select">
	<input class="button-primary" type="submit" value="Submit">
	<span id="info"></span>
</div>
</form>
{% endif %}

<div class="ten columns">
<ul>
{% for picture in pictures %}
{% if user.is_superuser %}
<li><img class="small true" src="/static/uploads/{{picture.title}}"></li>
{% endif %}
{% if not user.is_superuser %}
<li><img class="small" src="/static/uploads/secret.png"></li>
{% endif %}
{% endfor %}
</ul>
</div>

<script src="/static/jquery.js"></script>
<script>
var click = false;
$('#select').click(function()
	{$('#file').click()}
	);
$('#file').change(function(){
	var file = $('#file').val();
	$('#info').html(file)
});

$('.true').click(function(){
if (click == false){
	$('.true').hide();
	$(this).show();
	$(this).height($(this)[0].naturalHeight);
	$(this).width($(this)[0].naturalWidth);
    click = true;
    $('.true').css('cursor','url(http://www.rw-designer.com/cursor-extern.php?id=2843)');
    }
 else {
 	$('.true').show();
	$('.true').width(200).height(120);
	click = false;
	$('.true').css('cursor','url(http://www.rw-designer.com/cursor-extern.php?id=2843)');
 }
});
</script>
{% endblock %}
