{% extends "blogbase.html" %}


{% block titleblock%}
<title>Edit</title>
<style>
.button-primary{
	margin: 2em;
	color: grey;
}
</style>
  {% load wysiwyg %}
  {% wysiwyg_setup %}
{% endblock %}


{% block bodyblock %}
<form method="POST" action="">
	 {% csrf_token %}
<input type="text" value="{{article.title}}" id="title" name="title">
<textarea name="content"  id="comp">{{article.content}}</textarea>
{% wysiwyg_editor "comp" %}
<input class="button-primary" type="submit" value="Submit">
</form>
{% endblock %}