{% extends "base.html" %}
{% block titleblock %}
<title>Post</title>
<style> .button-primary{margin-top:20px;}
     </style>
{% endblock %}

{% block bodyblock %}
<div class="eight columns">
<div class="docs-section" id="forms">
      <h1 class="docs-header">New Recommendation</h1>
      <div class="docs-example docs-example-forms">
        <form method="post" action"/">
        	    {% csrf_token %}
          <div class="row">
            <div class="five columns">
              <label for="titleF">Title</label>
              <input class="u-full-width" type="text" name="title" id="titleF" required="required">
            </div>
            <div class="six columns">
              <label for="categoryF">Category</label>
              <select class="u-full-width" name="category" id="categoryF">
              	{% for category in categories %}
                <option value="{{category.name}}">{{category.name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <label for="exampleMessage">Comment</label>
          <textarea class="u-full-width" id="exampleMessage" name="comment"></textarea>
          <div class="row">
          <div class="ten columns">
              <label for="imgF" id="imgFF">Image Link</label>
              <input class="u-full-width" type="url" name="img" id="imgF">
            </div>
          </div>
          <div class="row">
          <div class="ten columns">
              <label for="detF" id="detFF">Detail Link</label>
              <input class="u-full-width" type="url" name="det" id="detF">
            </div>
          </div>
          <div class="row">
            <div class="ten columns">
          <input class="button-primary" type="submit" value="Submit">
        </div>
        </div>
        </form>
      </div> 
              <div class="row">
          <a href="/recommendation"><button id="back">Back</button></a>
    </div>        
 </div>
   

{% endblock %}